fastapi[standard]~=0.116.1
pypdf
python-dotenv~=1.1.1
google-genai
pydantic~=2.11.7
langchain~=0.3.27
langchain-community~=0.3.27
qdrant_client
sentence-transformers
motor~=3.7.1
pymongo~=4.14.0
qdrant-client~=1.15.1
protobuf~=6.31.1
firebase-admin
PyJWT>=2.8.0
aiofiles